// ---- COLOR PALETTE SETUP ----
$primary : #114022;
$secondary: #123E73;
$dark: #173122;

// ---- FONT CONFIGURATION ----
@font-face{
    font-family: 'Ubuntu';
    src: url('../src/font/Ubuntu-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: 'Ubuntu';
    src: url('../src/font/Ubuntu-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}
@font-face{
    font-family: 'Ubuntu';
    src: url('../src/font/Ubuntu-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}
@font-face{
    font-family: 'Ubuntu';
    src: url('../src/font/Ubuntu-Italic.ttf');
    font-style: italic;
    font-weight: normal;
}
@font-face{
    font-family: 'Ubuntu';
    src: url('../src/font/Ubuntu-Light.ttf');
    font-style: normal;
    font-weight: light;
}
@font-face{
    font-family: 'Ubuntu';
    src: url('../src/font/Ubuntu-LightItalic.ttf');
    font-style: italic;
    font-weight: light;
}


// ---- COLOR PALETTE SETUP ----
$primary : #066331;
$secondary: #123E73;
$dark: #173123;

@import "../lib/bootstrap-5.1.3/scss/bootstrap";

// ---- BASIC STYLES ----
body{
    font-family: 'Ubuntu';
    font-weight: normal;
    font-style: normal;
}

#banner{
    background-image: url('../src/images/image-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;

}

#banner-box{
    background: #ffffffa4
}

.steps .step-box{
    width: 150px;
    height: 150px;
    min-width: 150px;
    transition: 0.8s all;
}

.steps .step-box:hover{
    background-color: #9de0bc;
}

.number{
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;
    text-align: center;
}

.bold{
    font-weight: bold;
}

.card-text{
    font-size: 0.8rem;
    color: #4e4646;
}

footer{
    min-height: 200px;
}

.card{
    transition: all 0.4s;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

// ---- MEDIA QUERIES ----

